<div class="container">
    <h3 class="text-white">Crear horario</h3>
    <div class="row mt-5">
        <div class="col-3 t">
            <p class="mitad">Lunes</p>
            <img class="imagesize" [routerLink]="['/create/monday']" src="../../../assets/images/lunes.jpg" alt="Third slide">
        </div>
        <div class="col-3 t">
            <p class="mitad">Martes</p>
            <img class="imagesize" src="../../../assets/images/martes.jpg" alt="Third slide">
        </div>
        <div class="col-3 t">
            <p class="mitad">Miercoles</p>
            <img class="imagesize" src="../../../assets/images/miercoles.jpg" alt="Third slide">
        </div>
        <div class="col-3 t">
            <p class="mitad">Jueves</p>
            <img class="imagesize" src="../../../assets/images/jueves.jpg" alt="Third slide">
        </div>
    </div>
</div>