<div class="container">
    <h3 class="text-white">Crear horario</h3>
    <div class="row mt-5">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 mt-3 t">
            <p class="mitadcreate">Lunes</p>
            <img class="imagesize" [routerLink]="['/create/monday']" src="../../../assets/images/lunes.jpg" alt="Third slide">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 mt-3 t">
            <p class="mitadcreate">Martes</p>
            <img class="imagesize" [routerLink]="['/create/tuesday']" src="../../../assets/images/martes.jpg" alt="Third slide">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 mt-3 t">
            <p class="mitadcreate">Miercoles</p>
            <img class="imagesize" [routerLink]="['/create/wednesday']"  src="../../../assets/images/miercoles.jpg" alt="Third slide">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 mt-3 t">
            <p class="mitadcreate">Jueves</p>
            <img class="imagesize" [routerLink]="['/create/thursday']" src="../../../assets/images/jueves.jpg" alt="Third slide">
        </div>
    </div>
</div>